/**reset css*/
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
fieldset, img { border:none; }
img{display: block;}
address, caption, cite, code, dfn, th, var { font-style:normal; font-weight:normal; }

input { padding-top:0; padding-bottom:0; font-family: "Microsoft YaHei","SimSun";}
input::-moz-focus-inner { border:none; padding:0; }
select, input { vertical-align:middle; }
select, input, textarea { font-size:12px; margin:0; }
input[type="text"], input[type="password"], textarea { outline-style:none; -webkit-appearance:none; }
textarea { resize:none; }
input,textarea{background: none; border: none;}
table { border-collapse:collapse; }
body{
    font-family:"Microsoft YaHei";
    font-size: 12px;
}
html,body{
    height: 100%;
}

input:disabled, textarea:disabled {
    cursor: not-allowed;
}
